.contact {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1 {
      font-size: 54px;
    }
    h3 {
      font-size: 16px;
    }
  }

  &__about {
    display: flex;
    flex-wrap: wrap;
    &__left,
    &__right {
      width: 100%;
      @media(min-width: 768px) {
        width: 50%;
      }
    }
    &__left {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__right {
      padding: 30px 20px;
      background: #f3f5f7;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 14px;
      }
      a {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        max-width: 100px;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    h2 {
      font-size: 32px;
    }
    .contacts__cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 24px;
      .contact__card {
        padding: 16px 32px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: #f3f5f7;
        align-items: center;
        min-width: 280px;
        min-height: 150px;

        button {
          background: transparent;
          border: none;
          outline: none;
          font-size: 25px !important;
          width: 27px !important;
          height: 14px !important;
          padding-bottom: 5px;
        }
        p {
          color: #6c7275;
          font-size: 16px;
          font-weight: 700;
        }
        h3 {
          font-weight: 600;
          font-size: 16px;
          color: #141718;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    &__left,
    &__right {
      width: 100%;
      @media(min-width: 768px) {
        width: 49%;
      }
    }
    &__left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .input__group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        input,
        textarea {
          border: 1px solid #cbcbcb;
          border-radius: 6px;
          width: 100%;
          outline: none;
          background: transparent;
          padding: 10px;
        }
        textarea {
          height: 120px;
        }
      }
      button {
        max-width: 200px;
        padding: 10px 15px;
        background: black;
        color: white;
        border-radius: 30px;
        font-size: 18px;
        border: 1px solid black;
      }
    }
    &__right {
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
