.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  background-color: #f9f9f9;
  min-height: 400px;
  background: url(../../assets/home/newsLatterRight.svg) no-repeat center/cover;
  margin-top: 50px;
  margin-bottom: -50px;
  &__left,
  &__right {
    flex: 1;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 18px;
    }
    &__form {
      display: flex;
      align-items: center;
      border-bottom: 1px solid black;
      padding: 10px 0px;
      gap: 20px;
      width: 100%;
      input {
        border: none;
        outline: none;
        flex: 1;
        background: transparent;
      }
      button{
        border: none;
        outline: none;
        background: transparent;
        font-size: 18px;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    &__left {
      padding: 1rem;

      h3 {
        font-size: 1rem;
      }

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 0.9rem;
      }

      .form {
        flex-direction: column;

        input {
          border-radius: 4px;
          margin-bottom: 1rem;
        }

        button {
          border-radius: 4px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    &__left {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}
