.single__page {
  padding: 40px 20px;
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px;
  }
  .swiper-pagination {
    display: none;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: space-between;
    button {
      text-wrap: nowrap;
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }

    &__left {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width: 768px) {
        width: 48%;
        gap: 30px;
      }

      &__image {
        width: 100%;
        max-height: 500px;
        min-height: 500px;

        z-index: -9999;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
        @media (max-width: 592px) {
          min-height: 400px;
        }
        @media (max-width: 400px) {
          min-height: 300px;
        }
      }

      &__images {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        padding-top: 20px;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          cursor: pointer;
          border-radius: 10px;
          transition: border 0.3s;

          &.active {
            border: 2px solid black;
            cursor: no-drop;
          }
        }
      }
    }

    &__right {
      width: 100%;

      @media (min-width: 768px) {
        width: 48%;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 20px;
          height: 20px;
        }
      }

      h1 {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
      }

      p {
        font-size: 16px;
        color: #555;
        margin: 10px 0 20px;
      }

      .prices {
        display: flex;
        align-items: center;
        gap: 10px;

        h3 {
          font-size: 24px;
          font-weight: bold;
          color: #000;
        }

        h2 {
          font-size: 20px;
          color: #888;
          text-decoration: line-through;
        }
      }
    }
  }

  &__bottom {
    .abTab {
      padding: 50px 0px;
      &__header {
        display: flex;
        align-items: center;
        gap: 50px;
        overflow-x: scroll;
        padding-bottom: 20px;
        &::-webkit-scrollbar {
          width: 2px;
          height: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgb(206, 206, 206);
          border-radius: 8px;
        }

        &::-webkit-scrollbar {
          width: 2px;
        }
        p {
          color: #807e7e;
          text-wrap: nowrap;
          font-size: 18px;
          font-weight: 500;
          border-bottom: 1px solid #807e7e;
          cursor: pointer;
        }
        .active {
          color: #121212;
          border-bottom: 1px solid #121212;
        }
      }
    }

    padding-top: 100px;
    .reviews {
      display: flex;
      flex-direction: column;
      gap: 30px;
      &__header {
        border: 1px solid #6c7275;
        border-radius: 6px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .review-btn {
          width: 200px;
          height: 10%;
          padding: 10px 20px;
          border-radius: 15px;
          border: 1px solid black;
          background: black;
          color: white;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        input {
          background: transparent;
          border: none;
          outline: none;
          flex: 1;
          font-size: 22px;
        }
      }
      &__cards {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .review__card {
          display: flex;
          align-items: center;
          gap: 20px;
          &__left {
            width: 100px;
            height: 100px;
            img {
              width: 70px;
              height: 70px;
              object-fit: cover;
              border-radius: 50%;
            }
          }

          &__right {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .rating,
            .rating__none {
              display: flex;
              align-items: center;
              gap: 5px;
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.cart-btn {
  padding-top: 40px;
  display: flex;
  gap: 20px;
  align-items: end;
  .single__wishlist-btn {
    padding: 15px 40px;
    background: white;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
  }
  .single__add-to-cart-btn {
    margin-top: 30px;
    padding: 15px 40px;
    background: black;
    width: 200px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .counter-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    width: 200px;
    span {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button {
      padding: 10px 20px;
      height: 50px;
      border-radius: 2px;
      width: 70px;
      background: black;
      color: white;
      border: 1px solid black;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background: #fff;
        color: black;
      }
    }
  }
}
.review-btn-media {
  display: none;
}

.review__card__right__media {
  display: none;
}

@media (max-width: 490px) {
  .reviews__header {
    .review-btn {
      display: none !important;
    }
    .review-btn-media {
      display: block;
      background: transparent;
      font-size: 16px;
      border: none;
    }
  }
  .rating__none {
    img {
      display: none !important;
      opacity: 0 !important;
      visibility: hidden !important;
    }
  }
  .review__card__right__name,
  .rating__none,
  .review__card__left {
    display: none !important;
  }
  .review__card__right__media {
    display: flex;
    gap: 10px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

@media (max-width: 400px) {
  .cart-btn {
    flex-direction: column;
    align-items: flex-start;
  }
}

.bg__animation {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}
@keyframes bgMove {
  to {
    background-position: 200%;
  }
}

.single__loading {
  display: flex;
  justify-content: space-between;
  min-height: 600px;
  width: 100%;
  padding: 30px 16px;
  &__left,
  &__right {
    width: 48%;
    min-height: 600px;
    border-radius: 20px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    &__item {
      height: 50px;
      border-radius: 10px;
    }
  }
}

.single__page__join {
  margin-bottom: -50px;
  margin-top: 50px;
}

@media (max-width: 830px) {
  .single__loading {
    flex-direction: column;
    gap: 50px;
    &__left,
    &__right {
      width: 100%;
    }
  }
}
